
<style type="text/css">
.modal-backdrop {
    opacity: 0.2 !important;
}
</style>
<html>
<body>
    <div class="jumbotron  blue-grey lighten-5" style="margin-top: 10%;width: 70%;margin-left:15%;border-radius: 8px;position: absolute">
        <h2 class="card-title h2" style="color: #BA9BA0 !important;"><b>Welcome to the Flash Sale Site App</b></h2>
        <div class="row d-flex justify-content-center" style="margin-top: 2em;">
            <div class="col-md-5 pb-2">
                <p style="color: grey;text-align: center;"> <b>Shop More, Save More!</b></p>
            </div>

            

        <form class="form-inline" action="/users" method="GET">
          <label for="memberid">Enter Member ID</label>
          <input type="text" id="memberid" placeholder="Enter Member ID" name="memberid">

          <button type="submit" id="member_submit" class="btn btn-primary">Submit</button>
        </form>
    </div>



</body>
</html>